*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'Press Start 2P', cursive;
    
    
}

body{
    height:100vh;
    display:flex;
    background-color: cornflowerblue;
    justify-content:center;
    align-items: center;
    
}

#container{
    height:90vh;
    width:1000px;
    position: relative;
    background-color:rgb(193, 235, 255);
    overflow:hidden;
    
    
}

#titulo{
    display:flex;
    justify-content: center;
    font-weight: bold;
    font-size:2.5em;
    margin-top:1em;
    

}

#menu{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#empezar,#selector,#volver{
    height:5em;
    background-color: aliceblue;
    width:15em;
    display:flex;
    border-radius:10%;
    justify-content: center;
    align-items: center;
    margin-top:4em;
    font-size:1.5em;
    
    
    
}


#volver{
    display:none;
    position:absolute;

}

/*Puntuacion*/

#score{
    position:absolute;
    top:40px;
    right:60px;
    display:none;
    
}



/*Todo lo que tenga que ver con personajes*/

#personaje{
    width:100px;
    height:130px;
    position:absolute;
    background-image: url("p3.png");
    background-repeat: no-repeat;
    background-image: cover;
    bottom:80px;
    display:none;
    z-index:2;
}

.correr{
    animation: animacion 0.25s steps(2) infinite;
}

.saltar{
    animation: animacionsalto 0.25 ease-in-out; 
}

@keyframes animacionsalto{
    from{
        background-position-x:100px;
    }
    to{
        background-position: 300px;
    }
}

@keyframes animacion{
    from{
        background-position-x:0px;
    }
    to{
        background-position-x:-200px;
    }
}




/*Suelo*/

#suelo{
    width:2000px;
    height:100px;
    background-image: url("piso.png");
    background-repeat: no-repeat;
    position:absolute;
    bottom:-20px;
    
    display:none;
    
}

/*Sombra*/

.sombra{
    width:100px;
    height:130px;
    position:absolute;
    background-image: url("enemigo.png");
    background-repeat: no-repeat;
    background-position-x:-50px;
    background-position-y:-30px;
    display:flex;
    position:absolute;
    bottom:80px;
    left:6000px;
    z-index: 1;
}
